<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<h2>Employee info</h2>

<form th:object="${user}" th:action="@{/saveUser}" th:method="post">
    <input type="hidden" th:field="*{id}">
    <label>Name: <input type="text" th:field="*{name}"/></label><br/><br/>
    <label>Surname: <input type="text" th:field="*{surname}"/></label><br/><br/>
    <label>Salary: <input type="text" th:field="*{salary}"/></label><br/><br/>
    <input type="submit" value="OK"/>
</form>
</body>
</html>